{% extends 'base.html.twig' %}

{% block title %} mot de passe oublié {% endblock %}

{% block body %}

<div id="page" class="d-flex justify-content-center align-items-center">

    <div id="middle-box">
        <h1 class="h3 mb-3 font-weight-normal text-center text-uppercase">Mot de passe oublié ?</h1>

      
        <div class="mb-3">
            <small>
                Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            </small>
        </div>

    </div>
</div>

{% endblock %}
